.event-card {
  float: left;
  width: 100%;
}

.event-card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.event-card .menu-content li {
  display: inline-block;
}

.event-card .menu-content a {
  color: white;
}

.event-card .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: 'Open Sans';
  transform: translate(-50%, 0);
}

.event-card .wrapper {
  background-color: white;
  min-height: 540px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}

.event-card .wrapper:hover .data {
  transform: translateY(0);
}

.event-card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(140px + 1em));
  transition: transform 0.3s;
}

.event-card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}

.event-card .author {
  font-size: 12px;
}

.event-card .title {
  margin-top: 10px;
  margin-bottom: 30px;
}

.event-card .text {
  height: 100%;
  margin: 0;
  font-size: 0.8rem;
}

.event-card input[type='checkbox'] {
  display: none;
}

.event-card input[type='checkbox']:checked + .menu-content {
  transform: translateY(-60px);
}


.teaser-card {
  display: flex;
  align-items: center;
  background-color: white; /* Light grey background */
  border-radius: 2px; /* Rounded corners */
  overflow: hidden; /* Ensures the image does not overflow the card's rounded corners */
  border: 0px solid #ccc; /* Adds a light grey border */
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow for depth */
}

.teaser-card .card-image {
  display: flex; /* Enables flexbox properties */
  flex: 1 1 auto; /* Do not grow or shrink, but use auto basis */
}

.teaser-card .card-image img {
  width: 100%; /* Make the image take full width of its container */
  height: 100%; /* Make the image take full height of its container */
  object-fit: cover; /* Cover the area without losing aspect ratio */
  object-position: 50% 50%;

}

.teaser-card .card-content {
  padding: 10px; /* Padding around content */
}

.teaser-card .card-content .card-title,
.teaser-card .card-content .card-date {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.teaser-card .card-content .card-title {
  font-size: 16px; /* Larger font size for the title */
  font-weight: bold; /* Bold font weight for the title */
}

.teaser-card .card-content .card-date {
  font-size: 14px; /* Slightly smaller font size for the date */
}

.lastEvent .col-12 {
  padding: 0 !important;
}

.lastEvent .col-md-8 {
  padding-left: 0 !important;
}


.food-card {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.food-card:hover {
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.food-card .food-card_img {
  display: block;
  position: relative;
}

.food-card .food-card_img img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}

.food-card .food-card_img i {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  font-size: 25px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.food-card .food-card_img i:hover {
  top: 18px;
  right: 28px;
  font-size: 29px;
}

.food-card .food-card_content {
  padding: 15px;
}

.food-card .food-card_content .food-card_title-section {
  height: 100px;
  overflow: hidden;
}

.food-card .food-card_content .food-card_title-section .food-card_title {
  font-size: 24px;
  color: #333;
  font-weight: 500;
  display: block;
  line-height: 1.3;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.food-card .food-card_content .food-card_title-section .food-card_author {
  font-size: 15px;
  display: block;
}

.food-card .food-card_content .food-card_bottom-section .space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.food-card .food-card_content .food-card_bottom-section .food-card_subscribers {
  margin-left: 17px;
}

.food-card .food-card_content .food-card_bottom-section .food-card_subscribers img,
.food-card .food-card_content .food-card_bottom-section .food-card_subscribers .food-card_subscribers-count {
  height: 45px;
  width: 45px;
  border-radius: 45px;
  border: 3px solid #fff;
  margin-left: -17px;
  float: left;
  background: #f5f5f5;
}

.food-card .food-card_content .food-card_bottom-section .food-card_subscribers .food-card_subscribers-count {
  position: relative;
}

.food-card .food-card_content .food-card_bottom-section .food-card_subscribers .food-card_subscribers-count span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 13px;
}

.food-card .food-card_content .food-card_bottom-section .food-card_price {
  font-size: 28px;
  font-weight: 500;
  color: var(--primary);
}

.food-card .food-card_content .food-card_bottom-section .food-card_order-count {
  width: 130px;
}

.food-card .food-card_content .food-card_bottom-section .food-card_order-count input {
  background: #f5f5f5;
  border-color: #f5f5f5;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-align: center;
}

.food-card .food-card_content .food-card_bottom-section .food-card_order-count button {
  border-color: #f5f5f5;
  border-width: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (min-width: 992px) {
  .food-card--vertical {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      height: 235px;
  }

  .food-card--vertical .food-card_img img {
      width: 200px;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
  }
}